
* {
    font-family: Arial;
    /* border: 0.5px gray solid; */
    font-weight: bold;
}
.padd, .padd1, .footer{
    padding-left: 15px;
    padding-right: 15px;
}

#cont {
    margin-top: 50px;
    border: 1.5px darkgray solid;
    border-radius: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1.5px darkgray solid;
    background-color:rgb(240, 240, 240);
}
.alert {
    margin-top: 10px;
}
.cardInfo {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}
.cardInfo input,
.cardInfoLeft input {
    border: 1.5px darkgray solid;
    border-radius: 3px;
}
.cardInfo fieldset:first-child {
    width: 40%;
}
.cardInfo fieldset:nth-child(2) {
    width: 25%;
}
.cardInfo fieldset:nth-child(3) {
    width: 35%;
}
.cardInfo fieldset:first-child input,
.cardInfo fieldset:nth-child(2) input {
    width: 90%;
}
.cardInfo fieldset:nth-child(3) input {
    width: 95%;
}
.dollarSign {
    display: flex;
    align-items: center;
}
.dollarSign::before {
    content: "$";
}
.padd1 {
    display: flex;
    height: 380px;
}
.cardInfoLeft {
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
}

.cardInfoLeft fieldset:first-child input{
    width: 90%;
}
.cardInfoLeft fieldset:nth-child(2) input {
    width: 90%;
}
.cardInfoLeft fieldset:nth-child(2) {
    padding-top: 15px;
}
.cardInfoLeft fieldset:nth-child(3) {
    width: 45%;
    padding-top: 15px;
}
.payCards {
    display: flex;
    padding: 5px;
    background-color: rgb(117, 116, 116);
    border: 1.5px darkgray solid;
    border-radius: 3px;
}
.payCards div:first-child,
.payCards div:nth-child(2),
.payCards div:nth-child(3),
.payCards div:nth-child(4) {
    padding-left: 15px;
}
.payCards div i {
    background-color: white;
    padding: 1px;
    border-radius: 3px;
}
.cardInfoRight {
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
}
.cardInfoRight div {
    width: 100%;
    display: flex;
}
.cardInfoRight fieldset:first-child input {
    width: 97%;
    border: 1.5px darkgray solid;
    border-radius: 3px;
}
.cardInfoRight div fieldset:first-child {
    width: 50%;
    padding-top: 15px;
}
.cardInfoRight div fieldset:first-child p{
    margin-bottom: 8px;
}
.cardInfoRight div fieldset:first-child select {
    width: 100%;
    border: 1.5px darkgray solid;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.cardInfoRight div fieldset:nth-child(2) {
    width: 50%;
    padding-left: 20px;
    padding-top: 15px;
}
.cardInfoRight div fieldset:nth-child(2) input{
    width: 95%;
    border: 1.5px darkgray solid;
    border-radius: 3px;
}
.note {
    font-size:small;
    font-weight: lighter;
    color: darkgrey;
}
.cardInfoRight fieldset textarea {
    width: 98%;
    height: 100%;
    border: 1.5px darkgray solid;
    border-radius: 3px;
}
.notes {
    padding-top: 15px;
}
.footer {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-top: 1.5px darkgray solid;
    background-color:rgb(240, 240, 240);
}
.footer input[type="cancel"] {
    width: 60px;
    text-align: center;
    color: white;
    margin-right: 10px;
    border: none;
    background-color: gray;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
}
.footer input[type="submit"] {
    width: 60px;
    color: white;
    border: none;
    background-color: dodgerblue;
    border-radius: 3px;
}